<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>EchoMarket Login Information</h1>
    <p>You requested your EchoMarket password, it is: </p>
    <br />
    <p>EchoMarket password is <%= @pd %>.</p>
    <br />  
		<p>Thanks for your continued EchoMarket participation.  Your service for borrowing, lending, donating and trading goods!</p>
		<br />  
		<p>If you need not seek your EchoMarket password, please contact EchoMaket as soon as you can.</p>
  </body>
</html>