<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <% @get_user_id = Participant.find_by(particpant_id: @item.participant_id).user_id %>
    <h1>Dear EchoMarket Borrower,  <%=  User.find_by(user_id: @get_user_id).user_alias %>,</h1>
    <p>The EchoMarket Borrower, <%= @borrowerAlias %>,  has sought the following item: </p>
     <br/> 
    
      <p>Item Category: <% Category.find_by(category_id: @item.category_id).category_type %></p>
      <br/> 
      
      <p>Item Description: <% @item.item_description %></p>
      <br/> 
      
      <p>Item Condition: <% ItemCondition.find_by(id: @item.condition_id).condition %></p>
      <br/> 
      
      <p>Item Image: <img src="borrower/"<% ItemImage.find_by(item_id: @item.item_id).image_file_name %> /></p>
      <br/> 
      
      
      <p>If you would like more information, please follow this link, or copy/paste it to your browser address bar: "https://echomarket/existing_items"/<% @item.item_id %></p>
      <br/> 
    
      <p>If you wish to no longer receive notifications of sought borrower items, please follow this link, or copy/paste it to your browser address bar: "https://echomarket/items/noNotication/" <% @item.participant_id %></p>
      <br/> 
	
      <p>Otherwise, EchoMarket thanks you for your participation.  Your service for borrowing, lending, donating and trading goods!</p>

  </body>

</html>