<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>EchoMarket Login Update Information</h1>
    <p>Through EchoMarket Login Update your have requested to changed your EchoMarket login password: </p>
    <br />
    <p>The new EchoMarket password is <%= @pd %>.</p>
    <br />  
    <p>Please follow the following link: <%= @url %>, to complete that process.</p>
    <br />  
		<p>Thanks for your continued EchoMarket participation.  Your service for borrowing, lending, donating and trading goods!</p>
		<br />  
		<p>If you need not seek your EchoMarket password, please contact EchoMaket as soon as you can.</p>
  </body>
</html>