<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to EchoMarket.org, <%= @user.username %></h1>
    <p>
      You have successfully signed up to EchoMarket.org,
      your username is <%= @user.username %> and your password is <%= @user.password %>.<br>
    </p>
	
	<h1>You now need to complete the activation process</h1>
    <p>
      Please follow this link, or copy/paste it to your browser address bar: <%= @url %>.
    </p>
    <p>Thanks for joining EchoMarket.  Your service for borrowing, lending, donating and trading goods!</p>
  </body>
</html>