   <head>
      <%= javascript_include_tag 'registration.js', :type => "text/javascript"  %>
      <title>EchoMarket Individual Registration</title>
    </head>
    <body > 
    
      <div  class="center_content" id="form_user_registration"  >
        <div style="margin:10px;" >
          <span style="font-size:20px;margin-left:5px;">Individual or Organization Registration</span>
       
          <p style="font-size: 16px;color:indigo;margin-left:5px">All fields are required.</p> 
        </div>
        <div id="individualNameGroup" style="float:left;margin:5px;width:95%;"  >
		   <%= render :partial => "users/individual_registration_detail"  %>
	      
	    </div>
      </div>
      </body>
 

