    <div class="center_content">

      <div id="top" align="center" style="background-color: white;margin-top:25px;margin-bottom: 25px;">
        <h1>
          ECHO 
		        <%= image_tag("echo_market.png")  %>
          MARKET
        </h1> 
       <h2>
		<% unless session[:communityName] %>
            Building Communities of Shared Goods
		<% else %>
            <%=  session[:communityName] %>
		<% end %>
		</h2>
        <h3 style="color:maroon;"> 
          EchoMarket is in its 'Alpha Phase', its design and functionality are hopefully operating as intended.  In development under Cloud9 IDE, C9 does not permit SMTP, eg, email will not work. If you encounter problems or would like to provide feedback, please contact me through the medium you discovered EchoMarket.
        </h3>
      </div>
    </div>
