    <div id="application_footer_links" class="application_footer" >
      <p >
       <%= link_to 'About EchoMarket',  {:controller => 'home', :action => 'show', :id => 'about'}  %>
	   <%= "|" %>
	   <%= link_to "EchoMarket Contact", {:controller => 'contacts', :action => 'show'} %>
        
      </p>
     
     
    </div>



